#install Python dependencies, please type
#pip install -r requirements.txt

streamlit==0.60.0
pandas==0.25.1
numpy==1.17.2
torch==1.5.0
transformers==4.30.0
seaborn==0.10.1
scikit-learn==0.23.1
scipy==1.4.1
gdown==3.11.1

